.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
}

.currentPage, .pageButtons{
    border:1px solid blue;
    background-color: lightgrey;
    border-radius: 5%;
    padding: 1%;
    margin: 1%;
}